<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listado de vacantes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    </head>
    <body>
        <img th:src="@{/img/logo1.png}" width="272" height="136">
        <h1><p class="text-monospace text-primary">Lista de vacantes</p></h1>
        <table style="width: 100%" class="table table-striped table-hover">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descrpcion</th>
                <th>Fecha</th>
                <th>Salario</th>
                <th>Destacado</th>
                <th>Destacado</th>
            </tr>
            <!-- repito pa superdotados como tu etiqueta th:each se utiliza para 
            pa elementos que se repite, es decir cada fila corresponde a cada id, por otro 
            lado a cada element de la fila hay que dar el contenido!!! -->
            <tr th:each="vacante :${vacantes}">
                <td th:text="${vacante.id}"></td>
                <td th:text="${vacante.nombre}"></td>
                <td th:text="${vacante.descripcion}"></td>
                <td th:text="${vacante.fecha}"></td>
                <td th:text="${vacante.salario}"></td>
                <!--aqui utilizo la primera condicional "Elvis"
                <td th:text="${vacante.destacado}"></td>
                se lee basicamente:" si la variable destacado del objeto vacante es uno 
                entonces impreimes si y por lo contrario no-->
                <td th:text="${vacante.destacado==1}?'si':'no'"></td>
                <!--Por otro lado probamos condicional de if/unless,el ejercicio consiste ,
                si se trata de un "si" el rectangulo que rodea este si tiene que ser azul 
                y contrario si es un "no" rojo-->
                <td>
                    <span th:if="${vacante.destacado==1}" class="badge badge-primary">Si</span>
                    <span th:unless="${vacante.destacado==1}" class="badge badge-danger">Si</span>
                </td>
            </tr>
        </table>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
